/* Font Poppins Regular and SemiBold */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0F1624;
}

/* Header */
header {
    padding: 20px 0;
}

header .navbar-parent {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/* Header Logo */
header .logo {
    display: inline-block;
}

header .logo a {
    display: inline-block;
}

/* Header Navbar */
header .navbar-nav {
    gap: 80px;
}

header .nav-item .nav-link {
    padding: 0!important;
}

header .nav-item .nav-link {
    color:  white;
    font-size: 18px;
    font-weight: 500;
}

/* Header Social Links */
header .header-social-links {
    list-style-type: none;
    display: flex;
    gap: 23px;
}

header .header-social-links .link-item {
    display: inline-block;
}

header .header-social-links .social-link {
    color: white;
    font-size: 27px;
}