/* Font Poppins Regular and SemiBold */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Global Elements */
/* Global Body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #0F1624;
}

/* Global Link Buttons */
.link-button {
    padding: 22px 60px;
    border-radius: 44px;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background-image: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    width: max-content;
    box-shadow: 0px 10px 30px rgba(0, 178, 255, 0.35);
    border: 2px solid;
    border-image: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    transition: background-image ease-in 0.4s;
}

.link-button:hover {
    background-image: none;
}

/* Global Go to Top Button */
#top-arrow {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    background-size: cover;
    border-radius: 50%;
}

#top-arrow:hover {
    background-image: none;
}

/* Header */
header {
    padding: 20px 0;
}

header .navbar-parent {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/* Header Logo */
header .logo {
    display: inline-block;
}

header .logo a {
    display: inline-block;
}

/* Header Navbar */
header .header-nav-ul {
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    gap: 80px;
}

header .nav-item {
    display: inline-block;
}

header .nav-item .nav-link {
    padding: 0!important;
}

header .nav-item .nav-link {
    color:  white;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    /* transition: border-image-width ease-out 0.2s; */
}

header .nav-item .nav-link:hover {
    border-image: linear-gradient(90deg, rgba(19,173,199,1) 0%, rgba(105,120,209,1) 60%, rgba(148,93,214,1) 100%);
    border-image-slice: 1;
}

/* Header Social Links */
header .header-social-links {
    list-style-type: none;
    display: flex;
    gap: 23px;
}

header .header-social-links .link-item {
    display: inline-block;
}

header .header-social-links .social-link {
    color: white;
    display: inline-block;
    font-size: 27px;
    line-height: 27px;
    /* transition: color ease-out 0.3s; */
}

header .header-social-links .social-link:hover {
    /* background-image: linear-gradient(270deg, #31CBE5 0%, #8796EF 66.67%, #B27BF4 100%);
    -webkit-text-fill-color: transparent; */
    background-size: 100%;
}

/* Banner */

/* Banner Left Content */
.banner .left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.banner .left-content h1 {
    font-weight: 600;
    font-size: 64px;
    margin-bottom: 20px;
    background-image: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.banner .left-content h2 {
    font-size: 64px;
    color: white;
    font-weight: 600;
    z-index: 1;
    margin-bottom: 26px;
}

.banner .left-content p {
    color: #929EB0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 32px;
}

/* Banner Right Content */
.banner .right-content {
    float: right;
}

.banner .right-content a {
    display: none;
}



/* Media Queries */
@media screen and (max-width: 1400px){
    /* Global Elements */
    .link-button {
        padding: 18px 48px;
    }

    /* Banner */
    /* Banner Left Content */
    .banner .left-content h1 {
        font-size: 54px;
    }

    .banner .left-content h2 {
        font-size: 54px;
    }
}

@media screen and (max-width: 1200px){
    /* Banner */
    /* Banner Left Content */
    .banner .left-content h1 {
        font-size: 46px;
    }

    .banner .left-content h2 {
        font-size: 46px;
    }

    /* Banner Right Content */
    .banner .right-content img {
        width: 650px;
    }
}

@media screen and (max-width: 991.8px){
    /* Global Go to Top Button */
    #top-arrow {
        bottom: 30px;
        right: 30px;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
    
    /* Header */
    header .navbar-parent {
        flex-wrap: wrap;
    }

    /* Header Nav */
    header .header-nav {
        order: 3;
        width: 100%;
        padding-top: 30px;
    }
    
    header .header-nav-ul {
        width: 100%;
        justify-content: space-between;
        gap: unset;
    }

    
    /* Banner */
    .banner .content {
        position: relative;
    }

    /* Banner Left Part */
    .banner .left-content {
        justify-content: flex-end;
        height: 350px;
    }

    .banner .left-content a {
        display: none;
    }

    /* Banner Right Part */
    .banner .right-content img {
        width: 620px;
    }

    .banner .right-content a {
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 50px;
    }
}

@media screen and (max-width: 768px){

    /* Banner */
    /* Banner Right Part */
    .banner .right-content img {
        width: 550px;
    }

    .banner .right-content a {
        bottom: 44px;
    }
}

@media screen and (max-width: 576px){
    /* Banner */
    /* Banner Left Content */
    .banner .left-content h1 {
        font-size: 44px;
    }

    .banner .left-content h2 {
        font-size: 44px;
    }
}

@media screen and (max-width: 470px) {
    /* Global Elements */
    .link-button {
        padding: 16px 44px;
        font-size: 16px;
    }

    /* Banner */
    /* Banner Left Content */
    .banner .left-content {
        height: 300px;
    }
    .banner .left-content h1 {
        font-size: 35px;
    }

    .banner .left-content h2 {
        font-size: 35px;
    }

    .banner .left-content p {
        font-size: 16px;
    }
}

@media screen and (max-width: 370px){
    /* Global Elements */
    .link-button {
        padding: 12px 36px;
    }

    /* Global Go to Top Button */
    #top-arrow {
        bottom: 10px;
        right: 14px;
        width: 34px;
        height: 34px;
        font-size: 16px;
    }

    /* Header */

    /* Header Logo */
    header .logo img {
        width: 100px;
    }

    /* Header Nav */
    header .header-nav {
        padding-top: 20px;
    }

    header .nav-item .nav-link {
        font-size: 14px;
    }

    /* Header Social Links */
    header .header-social-links .social-link {
        font-size: 22px;
    }

    /* Banner */
    /* Banner Left Content */
    .banner .left-content {
        height: 260px;
    }

    .banner .left-content h1 {
        font-size: 26px;
    }

    .banner .left-content h2 {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .banner .left-content p {
        font-size: 14px;
        line-height: 20px;
    }

    /* Banner Right Content */
    .banner .right-content img {
        width: 400px;
    }
}